
/* =========== HERO/Image =========== */

.real-section-1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 850px;
  text-align: center;

}

.real-section-1 img {
  position: relative;
  z-index: -1;
  left: 0;
  width: 100%;
  object-fit: cover;
  height: 850px;
}

.real-section-1 .container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.real-section-1 .container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.real-section-1 .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;
}

.real-section-1 .container .wrapper .text {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  text-align: center;
  text-transform: uppercase;
  color: #0a0d0e;
  background-color: #FFF;
  box-shadow: 0 0 50px rgba(0,0,0,.3);
}

/* =========== Sections =========== */

section {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 700px;
}

section .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.read-more-a {
  font-weight: 700;
  font-size: 26px;
  color: #0a0d0e;
  margin: 0 0 20px 0;
  display: none;
}

/* =========== Section 1 =========== */


section:nth-child(1) {
  background-color: white;
}

section:nth-child(1) .text {
  font-size: 16px;
  font-weight: 800;
  display: inline;
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #0a0d0e;
}
section:nth-child(1) .text span:nth-child(2) {
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  color: #0a0d0e;
}
section:nth-child(1) .text span:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  width: 100%;
  margin: 20px 0;
  color: #0a0d0e;
}
.text button {
  font-size: 20px;
  font-weight: 700;
  position: relative;
  display: inline;
  padding: 15px 40px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  border: none;
  background-color: #0a0d0e;
  border-radius: 30px;
}

.wrapper img {
  width: 40%;
}

/* =========== Section 2 =========== */

section:nth-child(2) {
  height: 500px;
  background-color: #ecf0f1;
}

section:nth-child(2) .wrapper {
  align-items: center;
  justify-content: center;
}

section:nth-child(2) .text {
  font-size: 50px;
  font-weight: 700;
  display: inline;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  color: #0a0d0e;
}
section:nth-child(2) .text span:nth-child(2) {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  margin: 30px 0;
  color: #0a0d0e;
}

/* =========== Section 3 =========== */

section:nth-child(3) {
  background-color: #FFF;
}

section:nth-child(3) .text {
  font-size: 16px;
  font-weight: 800;
  display: inline;
  display: flex;
  flex-direction: column;
  width: 40%;
  color: #0a0d0e;
}
section:nth-child(3) .text span:nth-child(2) {
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  color: #0a0d0e;
}
section:nth-child(3) .text span:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  width: 100%;
  margin: 20px 0;
  color: #0a0d0e;
}

/* =========== MEDIA QUERY =========== */

@media (max-width: 1380px) {
  .real-section-1 img {
    width: 100%;
  }
}

@media (max-width: 760px) {
  main section:nth-child(1) .wrapper,
  main section:nth-child(3) .wrapper {
    flex-direction: column;
  }

  main section {
    height: auto;
    padding: 50px 0;
  }

  main section .text button {
    margin: -10px 0 30px 0;
    display: none;
  }

  .read-more-a {
    display: flex;
  }

  main section .wrapper .text {
    width: 100%;
  }

  section:nth-child(1) .text,
  section:nth-child(2) .text,
  section:nth-child(3) .text,
  section:nth-child(4) .text {
    width: 100%;
    display: flex;
  }

  section:nth-child(1) .wrapper img,
  section:nth-child(3) .wrapper img {
    width: 100%; !important;
  }

  section:nth-child(3) .wrapper img {
    margin-bottom: 40px;
  }
}