
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Lexend Deca', 'PT sans', 'Open Sans', sans-serif;
}

header {
  background-color: #ffffff;
  box-shadow: 0 0 80px #181818;
}

.wrapper {
  margin: auto;
  width: 96vw;
  max-width: 1280px;
}
.top {
  margin-top: -3px;
  background-color: #1160ff;
  width: 100%;
  height:3px;
}

.header-container {
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  width: 7%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
}

.logo-container a {
  display: flex;
  justify-content: center;
}


.logo-container a img {
  width: 60px;
}

.header-container .nav-header {
  display: flex;
  justify-content: space-between;
}


.nav-header {
  height: 100%;
  width: auto;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-header ul {
  width: 100%;
  display: flex;
  align-items: center;
}

.nav-header ul li {
  margin-left: 70px;
}

.nav-header ul li a {
  font-weight: 700;
  /* padding: 12px 20px; */
  color: #000000;
  font-size: 20px;

}

.nav-header ul li {
  position: relative;
}

.nav-header ul li a:hover {
  color: #1160ff;
}

.nav-header ul li a::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -15%;
  height: 2px;
  background-color:  #1160ff;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}

.nav-header ul li a:hover::before,
.nav-header ul li a:focus::before {
  transform: scaleX(1);
}

.menu {
  display: none;
  align-self: center;
  font-size: 24px;
  align-items: center;
  position: relative;
}
.menu p {
  font-weight: 700;
  padding-left: 10px;
}

.invisible-checkbox {
  display: none;
  -webkit-appearance: none;
  cursor: pointer;
  width: 100px;
  height: 90px;
  background: red;
  align-self: center;
  position: absolute;
  opacity: 0.5;
}


@media (max-width: 760px) {
  .wrapper {
    width: 90vw;
  }
  .nav-header ul {
    display: none;
  }
  .menu {
    display: flex;
  }
  .invisible-checkbox {
    display: flex;
  }

  .logo-container a img {
    width: 60px;
  }

  footer .wrapper {
    flex-direction: column;
  }





}


/* header ends */

/* main starts */


.real-section-1 {
  width: 100%;
  height: 850px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.real-section-1 img {
  position: relative;
  left: 0;
  width: 100%;
  z-index: -1;

}

@media (max-width: 1380px) {
  .real-section-1 img {
    width: 1380px;
  }

}



.real-section-1 .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.real-section-1 .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(rgb(33, 33, 70), rgba(0, 0, 0, 0.6)); */
  /* background-image: radial-gradient(rgba(33, 33, 70, .7), rgba(33, 33, 70, .7), black); */



}

.real-section-1 .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;

}


.real-section-1 .container .wrapper .text {

  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #1160ff;
  z-index: 1;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 900;

  font-family: 'Lexend Deca', sans-serif;
  background-color: #ffffff;
  box-shadow: 0 0 50px rgba(0,0,0,0.3);



}




section {
  height: 700px;
  display: flex;
  justify-content: left;
  align-items: center;
}

section .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-direction: column; */
  height: 100%;

}

/* SECTION 2 */


section:nth-child(1) {
  background-color: white;
}

section:nth-child(1) .text {
  font-size: 16px;
  font-weight: 800;
  display: inline;
  width: 40%;
  flex-direction: column;
  display: flex;
  color: black;
}
section:nth-child(1) .text span:nth-child(2) {
  font-size: 50px;
  width: 100%;
  font-weight: 700;
  color: black;
}
section:nth-child(1) .text span:nth-child(3) {
  margin: 20px 0;
  font-size: 18px;
  width: 100%;
  font-weight: 400;
  line-height: 1.8;
  color: black;
}
.text button {
  text-decoration: none;
  display: inline;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
  background-color: #1160ff;
  font-weight: 700;
  font-size: 20px;
  color: white;
  position: relative;
}
.text button::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 3px;
  background: rgb(255, 255, 255);
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}

.text button:hover::before,
.text button:focus::before {
  transform: scaleX(1);
}

.wrapper img {
  width: 40%;
}


/* SECTION 1 */

section:nth-child(2) {
  background-color: #dedede;
  height: 500px;
}

section:nth-child(2) .wrapper {
  justify-content: center;
  align-items: center;
}

section:nth-child(2) .text {
  color: black;
  font-size: 50px;
  font-weight: 700;
  display: inline;
  width: 100%;
  flex-direction: column;
  display: flex;
  text-align: center;
}
section:nth-child(2) .text span:nth-child(2) {
  margin: 30px 0;
  font-weight: 400;
  font-size: 30px;
  width: 100%;
  line-height: 1.6;
  color: black;
}





/* SECTION 3 */

section:nth-child(3) {
  background-color: #ffffff;
}

section:nth-child(3) .text {
  font-size: 16px;
  font-weight: 800;
  display: inline;
  width: 40%;
  flex-direction: column;
  display: flex;
}
section:nth-child(3) .text span:nth-child(2) {
  font-size: 50px;
  width: 100%;
  font-weight: 700;
}
section:nth-child(3) .text span:nth-child(3) {
  margin: 20px 0;
  font-size: 18px;
  width: 100%;
  font-weight: 400;
  line-height: 1.8;
}

/* FOOTER */

footer {
  background-color: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

footer .wrapper {
  background-color: transparent;
  flex-direction: row;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

footer .wrapper section {
  background-color: transparent;
  width:  30%;
  height: 100%;
  color: white;
  flex-direction: column;
}

.bold {
  font-weight: 700 !important;
  font-size: 22px;
  text-transform: uppercase;
  margin: 6px 0;
  color: #1160ff;
}

footer .wrapper section span {
  width: 100%;
  font-size: 18px;
  line-height: 2;
  font-weight: 500;
  flex-direction: column;
  display: flex;
}

footer .wrapper section span ul li a {
  color: white;
  text-transform: uppercase;
  position: relative;
}

footer .wrapper section span ul li a::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  height: 2px;
  background-color: yellow;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
}

footer .wrapper section span ul li a:hover::before,
footer .wrapper section span ul li a:focus::before {
  transform: scaleX(1);
}

footer .wrapper img {
  width: 20%;
}
