
/* =========== HERO/Image =========== */

.real-section-1 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 850px;
  text-align: center;
}

.real-section-1 img {
  position: relative;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 850px;

  object-fit: cover;
}

.real-section-1 .container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.real-section-1 .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.real-section-1 .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;
}

.real-section-1 .container .wrapper .text {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  text-align: center;
  text-transform: uppercase;
  color: #0A0D0E;
  background-color: #FFF;
  box-shadow: 0 0 50px rgba(0,0,0,.3);
}

/* =========== Image 2 =========== */

.real-section-2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 450px;
  text-align: center;
}

.real-section-2 img {
  position: relative;
  z-index: -1;
  left: 0;
  width: 100%;
  height: 450px;

  object-fit: cover;
}

.real-section-2 .container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.real-section-2 .container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.real-section-2 .container .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150%;
}

.real-section-2 .container .wrapper .text {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 40px;
  font-weight: 900;
  z-index: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  text-align: center;
  text-transform: uppercase;
  color: #0A0D0E;
  background-color: #FFF;
  box-shadow: 0 0 50px rgba(0,0,0,.3);
}

/* =========== Sections =========== */

main section {
  display: flex;
  align-items: center;
  justify-content: left;
  height: auto;
}

main section .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* =========== Section 1 =========== */

main section:nth-child(1) {
  min-height: 500px;
  padding: 150px 0;
  background-color: white;
}

main section:nth-child(1) .text {
  font-size: 16px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  color: #0A0D0E;
}

main section:nth-child(1) .text p:nth-child(2) {
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  color: #0A0D0E;
}

main section:nth-child(1) .text p:nth-child(3),
main section:nth-child(1) .text p:nth-child(4) {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  width: 100%;
  margin: 20px 0;
  color: #0A0D0E;
}

/* =========== Section 2 =========== */

main section:nth-child(3) {
  min-height: 500px;
  padding: 150px 0;
  background-color: white;
}

main section:nth-child(3) .text {
  font-size: 16px;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  transform: translateY(-60px);
  color: #0A0D0E;
}

main section:nth-child(3) .text p:nth-child(2) {
  font-size: 50px;
  font-weight: 700;
  width: 100%;
  color: #0A0D0E;
}

main section:nth-child(3) .text p:nth-child(3) {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  width: 100%;
  margin: 20px 0;
  color: #0A0D0E;
}

/* =========== Media Query =========== */

@media (max-width: 1380px) {
  .real-section-1 img {
    width: 100%;
  }

  .real-section-2 img {
    width: 100%;
  }
}